.Container {
    margin-bottom: 20px;
}

.home_Container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin-bottom: 35px;
}

.title_section {
    width: 50%;
    height: calc(100vh-80px);
    padding: 18px;
    margin-top: 60px;
}

.title_section h1 {
    color: #22bedd;
    font-size: 40px;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 3px;
    transition: all .2s;
}

.title_section p {
    font-size: 20px;
    text-align: left;
    margin-left: 18px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #22bedd;
}

.banner_section {
    width: 50%;
    height: 100vh;

}

.banner_section img {
    width: 90%;
    height: 90%;
}

.review_Title {
    font-size: 35px;
    color: #22bedd;
    letter-spacing: 3px;
}

/* From cssbuttons.io by @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: rgb(153, 124, 124);
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}