.review {
    padding: 20px;
    margin-bottom: 20px;
    transition: all .3s;
}

.review:hover {
    padding: 20px;
    border: 1px solid #22bedd;
    border-radius: 5px;
    transform: translate(1.1);
    box-shadow: rgba(109, 207, 243, 0.428) -4px 9px 25px -6px;
}

.review img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.review h2 {
    font-size: 25px;
    color: #22bedd;
    letter-spacing: 2px;
}

.review h4 {
    color: #22bedd;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 14px;
}

.review .icon {
    color: gold;
    margin-left: 8px;
}